body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.dashboard-button,
.predictions-button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 18px;
    font-weight: bold;
}

.dashboard-button:hover,
.predictions-button:hover {
    background-color: #0056b3;
}

.user-list p {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.user-info {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.username {
    font-weight: bold;
}

.points {
    color: #007BFF;
}
