<a href="{{ url_for('admin') }}">
    <button>Dashboard</button>
</a>
<form id="resultsForm" method="post" action="{{ url_for('calcPoints') }}">
    <label for="track">Select Track:</label>
    <select id="track" name="track">
        {% for track in tracks %}
            <option value="{{ track[0] }}">{{ track[1] }}</option>
        {% endfor %}
    </select>
    <select id="racesession" name="racesession">
        <option value="qualiresults">Qualifying</option>
        <option value="raceresults">Race</option>
    </select>
    <!-- Your existing form content -->
    <button type="submit">Calculate Points</button>
</form>
{%for x in qualiresults%}
<p>{{x}}</p>
{%endfor%}
{%for x in raceresults%}
<p>{{x}}</p>
{%endfor%}