<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poule</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='poule.css') }}">
</head>
<body>
    <div class="container">
        <a href="{{ url_for('dashboard') }}">
            <button class="dashboard-button">Home</button>
        </a> 
        <a href="{{ url_for('predictList', poule=poule, userid=user_id) }}">
            <button class="predictions-button">Voorspellingen</button>
        </a>
        <div class="user-list">
            {% for x in users %}
                <div class="user-info">
                    <a href="{{ url_for('predictList', poule=poule, userid=x[2]) }}">
                        <button class="username">{{x[0]}}</button>
                    </a>
                    <p class="points">{{ x[1] }} Points</p>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
