<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='predict.css') }}">
</head>

<body>
    <header>
        <a href="{{ url_for('poule', poule=poule) }}">
            <button class="standings-button">Standings</button>
        </a>

        {% if not ontime %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endif %}
    </header>

    <section class="user-info info-box">
        <p>User ID: {{ userid }}</p>
        <p>Poule: {{ poule }}</p>
        <p>Track: {{ trackid }}</p>
    </section>

    <!-- Form for Top 3 Qualifying Prediction -->
    <form action="{{ url_for('predict_top3', trackid=trackid) }}" method="post" class="prediction-form predict-box">
        <div>
            <h3>Top 3 Qualifying Prediction</h3>
            {% for place, default_value in top3_zipped %}
                <div class="postext">
                    <label for="top3_qualifying_{{ place }}">Position {{ place }}:</label>
                </div>
                <select id="top3_qualifying_{{ place }}" name="top3_qualifying_{{ place }}">
                    {% for driver in drivers %}
                        <option value="{{ driver[0] }}" {% if driver[0] == default_value %}selected{% endif %}>
                            {{ driver[1] }} - {{ driver[2] }}
                        </option>
                    {% endfor %}
                </select><br>
            {% endfor %}
        </div>
        <button type="submit" class="submit-button">Submit Top 3 Predictions</button>
    </form>

    <!-- Form for Top 5 Race Prediction -->
    <form action="{{ url_for('predict_top5', trackid=trackid) }}" method="post" class="prediction-form predict-box">
        <div>
            <h3>Top 5 Race Prediction</h3>
            {% for place, default_value in top5_zipped %}
            <div class="postext">
                    <label for="top5_race_{{ place }}">Position {{ place }}:</label>
            </div>
                <select id="top5_race_{{ place }}" name="top5_race_{{ place }}">
                    {% for driver in drivers %}
                        <option value="{{ driver[0] }}" {% if driver[0] == default_value %}selected{% endif %}>
                            {{ driver[1] }} - {{ driver[2] }}
                        </option>
                    {% endfor %}
                </select><br>
            {% endfor %}
        </div>
        <button type="submit" class="submit-button">Submit Top 5 Predictions</button>
    </form>

    <form action="{{ url_for('logout') }}" method="post">
        <button type="submit" class="logout-button">Logout</button>
    </form>
</body>

</html>
