<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Prediction Challenge - Join the Grid</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <img src="https://media.formula1.com/image/upload/f_auto,c_limit,w_195,q_auto/etc/designs/fom-website/images/f1_logo" alt="F1 Logo" class="logo animate-fade-in">
        <h1 class="animate-slide-down">Join the F1 Prediction Grid</h1>
        <form action="{{ url_for('register') }}" method="post" class="login-form animate-fade-in" onsubmit="return validateForm()">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <label for="username">Name</label>
            <input type="text" id="username" name="username" required placeholder="Enter your name">

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required placeholder="Create your password">

            <label for="confirm_password">Confirm Password</label>
            <input type="password" id="confirm_password" name="confirm_password" required placeholder="Confirm your password">

            <button type="submit" class="animate-pulse">Join the predicitons</button>
        </form>
        <div class="register-link animate-fade-in">
            <a href="{{ url_for('login') }}">Already on the grid? Log in here</a>
        </div>
    </div>
    <img src="{{ url_for('static', filename='ferrari_car.png') }}" alt="F1 Car" class="f1-car">

    <script>
        function validateForm() {
            var password = document.getElementById("password").value;
            var confirm_password = document.getElementById("confirm_password").value;

            if (password !== confirm_password) {
                alert("Paddock Passwords do not match. Please try again.");
                return false;
            }

            return true;
        }
    </script>
</body>
</html>